﻿@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&display=swap");
:root {
    --primary: #7664ac;
    --primary-dark: #5135a5;
    --secondary: #969696;
}
body {
    background-color: #eee;
    min-height: 100vh;
    background-size: auto;
}

.container {
    margin-top: 50px;
}

/* Fonts */
h1,
h3 {
    color: var(--primary);
}


h2,
h4 {
    color: var(--secondary);
}
h4 {
    margin: 0 5px;
}

h5 {
    display: inline-block;
}

.fw-bold {
    font-weight: bold;
}
/* Nav */
.navbar-dark {
    background: var(--primary-dark);
}
.navbar-brand {
    height: 75px;
}

.navbar-dark .navbar-nav .nav-link {
    transition: all .2s
}

.navbar-dark .navbar-nav .nav-link:hover {
    padding-top: 13px;
    transition: all .2s
}




/* Buttons */
.btn-primary {
    background-color: var(--primary);
    border-color: var(--primary-dark);
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active {
    background-color: var(--primary-dark) !important;
    border-color: #41288f;
}
.btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(172, 164, 204, 0.5) !important;
}
.btn-secondary {
    background-color: #ccb6ec;
    border-color: #c6b6f7;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary:active {
    background-color: #bd9cec !important;
    border-color: #c3a7eb !important;
}
.btn-secondary:focus {
    box-shadow: 0 0 0 0.2rem rgba(181, 169, 228, 0.5) !important;
}
button::-moz-focus-inner,
input::-moz-focus-outer {
    border: 0 !important;
}



.my-pill {
    padding: 10px;
    border-radius: 10px;
    min-height: 20vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.my-pill svg {
    max-height: 120px;
}


input,
select {
    border-radius: 4px;
    border: 1px solid #dae0e5;
}
input {
    width: 100%;
    height: 2.5rem;
    padding: 10px;
    text-align: center;
    font-family: "Fira Code", monospace;
    font-size: 1.25rem;
    color: var(--primary-dark);
}
input:focus,
select:focus {
    outline: #7a7a7a auto 1px;
}


.input-texto {
    display: inline-block;
    width: 10%;
    border: none;
}

.input-select {
    border: none;
    border-bottom: 3px solid var(--primary);
    border-radius: 0px;
    padding: 5px 0px;
    text-align: center;
    background-color: transparent;
    -moz-appearance: none; /* Firefox */
    -webkit-appearance: none; /* Safari and Chrome */
    appearance: none;
    font-size: 1.2rem;
}


.input-select.moneda {
    font-weight: bold;
}



/* Utilities */
.m-margin-top {
    margin-top: 20px;
}

/* Card */

.card-title {
    color: var(--primary);
    font-size: 1.1rem;
    display: block;
    margin-bottom: .5rem;
}

.card b {
    color: var(--secondary);
}


/* Calculadora  */

body.eyes {
    background-image: url("https://giffiles.alphacoders.com/126/1267.gif");
}
body.hell {
    background-image: url("https://i.pinimg.com/originals/0e/1d/ff/0e1dffdb27964d6687de8c86279b6360.gif");
}
body.money {
    background-image: url("https://media0.giphy.com/media/2ZYKKfCr0rkvvTkdum/source.gif");
}
body.police {
    background-image: url("https://media.giphy.com/media/3ohs4epCEN04wskff2/giphy.gif");
}

.calculator {
    background: white;
    padding: 3rem;
    border-radius: 8px;
    box-shadow: 0px 4px 8px #58585891;
}


#calculator .btn {
    width: 100%;
}

/* Conversor */
.cotizador {
    max-height: calc(100vh - 75px);
}

#newCoin{
    order:1;
}


.conversor .row .col-12 {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 15px;
}
.conversor span {
    text-transform: uppercase;
    color: #7a7a7a;
    margin-right: 0.5rem;
}
.conversor .row .col-12 input {
    max-width: 25%;
    margin-right: 0.5rem;
}