.input-texto{
    display:inline-block;
    width:10%;
    border:none;
}

.input-select{
    border:none;
    border-bottom: 3px solid #7664ac;
    border-radius:0px;
    padding:5px 0px;
    text-align: center;
    background-color:transparent ;
    -moz-appearance:none; /* Firefox */
    -webkit-appearance:none; /* Safari and Chrome */
    appearance:none;
    font-size:1.2rem;
}

button::-moz-focus-inner, input::-moz-focus-outer {
    border: 0 !important;
}
  

.input-select.moneda{
    font-weight:bold;
}

h5{
    display:inline-block;
}

.m-margin-top{
    margin-top:20px;
}

.btn-primary{
    background-color:  #7664ac;
    border-color:   #5135a5;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: #5135a5!important;
    border-color:   #41288f;
}